/* Christopher Z  11/1/2020 */

figure {
	display: block;
	text-align: center;
	margin: 0%;
}

article {
	margin: 0%;
	display: block;
}

section {
	display: block;
	margin: 0%;
}


.myname {
	font-family: Futura, Calibri, sans-serif;
	font-size: 3em;
	text-shadow: .06em .06em #555555;

}

body {
	text-align: center; 
	align: center; 
	background-color: #232323; 
	color: #E8E8E8; 
	font-family:Georgia, monospace; 
	font-size:.9em; 
	width: 70%; 
	max-width: 70em; 
	min-width: 16em; 
	margin: 1em auto 1em auto;
}
	
h1 {
	display: inline; 
	/*float: right;*/
}

nav {
	display: inline;
	font-weight: bold;
} 

ul {
	list-style:none;
	display: inline-block;
	padding-inline-start: 0em;
}

a {
	color: #E8E8E8; 
	text-decoration:none; 
}


li {
	display: inline;
	list-style-type: none;
	
}

#main {
	/*clear: both; /**/
	display: inline;
	/*display: flex;
	/*padding: 3%; /**/
	/*border:2px black solid; /**/
	/*border-radius: 25px;  /**/
	text-align: left;
	color: #E8E8E8;
	font-family:Consolas;
}


img {
	clear: both; /**/
	display: inline;
	margin: 1em 0em 1em 0em;
	padding-left: 1em; 
	max-width: 100%;
	float: right;
	/*margin-bottom:2%; /**/

}

footer {
	position: relative;
	margin-top: 9em;
}


/* Mobile Version */
@media only screen and (max-width:481px) {


.moblie {
	visibility: hidden;
}

}

/* Desktop Version */
@media screen and (max-width:769px) {

.desktop {
	float: none;
	padding: 0em 0em 0em 0em;

}



}







::-webkit-scrollbar {
  display: none;
}
